.container_color{
    @apply border-2 shadow-xl bg-white border-slate-100 rounded-2xl
}
.sidebar_container{
    @apply w-full xl:w-[190px] py-5 flex flex-row xl:flex-col justify-center;
}
.sidebar_texts{
    @apply text-black lg:text-[20px] md:text-[17px] text-[12px]
}
.sidebar_texts:hover{
    color: var(--blue2);
    text-decoration: underline;
}
.sidebar_icons{
    @apply text-black lg:text-3xl md:text-2xl text-xl mr-5
}
.sidebar_fill{
    @apply flex flex-row py-3 px-5
}

.datagrid_container{
    @apply relative overflow-x-auto rounded-xl border-2 border-slate-200
}
.datagrid_table{
    @apply w-full text-left rtl:text-right text-black
}
.datagrid_header{
    @apply text-base bg-white border-b-2
}
.datagrid_header_th{
    @apply px-6 py-4
}
.datagrid_body_tr{
    @apply bg-white border-b hover:bg-slate-50
}
.datagrid_body_content{
    @apply px-6 py-4 font-medium text-black whitespace-nowrap
}

.scroll-area::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
}

.scroll-area::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Adjust track color */
}

.scroll-area::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust thumb color */
    border-radius: 4px;
}